:root{
    --first-color: #fff;
    --second-color: #000;
    --third-color: #0E8D9E;
    --fourth-color: #39C3E0;
    --fifth-color: rgb(231, 231, 231);
    --sixth-color: #2f58a5;
    --seventh-color: #686868;
    --eight-color: #747474;
    --bootstrap: #212529;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Consolas';
}
body{
    background: var(--fifth-color);
}
.header{
    background: var(--sixth-color);
    color: white;
    padding: 1vh 0;
    align-items: center;
}
.logo{
    width: 25%;
}
.areaForm{
    margin-top: 3vh;
    border-radius: 18px;
    min-height: 60vh;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 15px var(--eight-color);
}
.topoForm{
    align-items: center;
    
}
.areaForm .image{
    margin-top: 3vh;
    width: 30%;
    overflow: hidden;
    text-align: center;
}
.areaForm .image img{
    width: 100%;
}
.botao{
    background: var(--sixth-color);
    color: white;
    margin-bottom: 3vh;
}
.form-check{
    margin-top: 1vh;
}
footer{
    display:flex;
    align-items: center;
    min-height: 10vh;
    margin-top: 10vh;
    color: var(--fifth-color); 
}
.footer{
    background: var(--bootstrap)
}
footer p{
    font-size: 1.5em;
}
footer span{
    color: var(--fourth-color);
}
footer .img{
    text-align: center;
    width: 15%;
    overflow: hidden;
    margin-left: 5%;
}
footer img{
    width: 100%;
}
footer .lado{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5vw;
    width: 50vw;
}
footer .lado2{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 50vw;
}
footer .linhaImgs{
    display: flex;
    align-items: center;
    justify-content: center;
}