/* https://www.youtube.com/watch?v=dQw4w9WgXcQ*/
:root{
    --first-color: #fff;
    --second-color: #000;
    --third-color: #0E8D9E;
    --fourth-color: #39C3E0;
    --fifth-color: #63cbe8;
}

body{
        background-color: #f3f3f3;
}

.box{
    display: flex;
    background-color: var(--third-color);
    color: var(--first-color);
    width: 100%;
    height: 8vh;
    align-items: center;
}

*{margin: 0px;}

.a{
    margin-top: 2vh;
    font-family: 'Consolas';
    display: flex;
    
}

.b{
    color: var(--first-color);
    font-size: 3vh;
    display: flex;
    margin-left: 0.6vh;
    align-content: center;
    list-style: none;
    
}
.sla{
    position: absolute;
}
.card{
    align-content: center;
    background-color: #fff; 
    width: 50%;
    padding: 2vh;
    border-style: solid;
    border-color: var(--fifth-color);
    border-width: 2px;
    border-radius: 2rem;
    margin: 2rem 25% 1rem 25%;
    min-height: 30rem;
} 

.card-b{
    align-content: center;
    background-color: #fff; 
    width: 50%;
    padding: 2vh;
    border-style: solid;
    border-color: var(--fifth-color);
    border-width: 2px;
    border-radius: 2rem;
    margin: 2rem 25% 1rem 25%;
    min-height: 30rem;
} 
.card-text{
    font-size: 1.5rem;
    font-family: 'Consolas';
    padding: 1rem;
    color: black;
}
.card-text-b{
    font-size: 2rem;
    font-family: 'Consolas';
    padding: 1rem;
    color: black;
}
.card-img{
    padding: 1rem;
    float: left;
    height: 35vh;
    transition: 0.5s;
}
.card-img:hover{
    height: 40vh;
}

.reg{
    color: var(--first-color);
    font-size: 3vh;
    display: flex;
    align-content: center;
    float: right;
}

a{
    color: #fff; 
    text-decoration:none;
    display: flex;
    margin-left: 7px;
    margin-right: 23px;
}

.b li{
    position: relative;
}

.b li a{
    display:block;
    transition: 1s;
}

.b li a:hover{
    background: var(--fourth-color);
    color: var(--first-color);
}

.b li  ul{
    position: absolute;
    background-color: var(--third-color);
    display: none;
    transition: 0.5;
    
 }

.b li:hover ul, .b li.over ul{
    display:block
    }

.b li ul li{
    display:block;
        }